<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yaozhou.dao.BlogMapper">
        <!--创建一个输入输出的缓存，每个60秒刷新，大小512，是否只读-->
        <cache eviction="FIFO" flushInterval="6000" size="512" readOnly="true"/>

        <select id="quertBlogById" parameterType="int" resultType="Blog" useCache="true">
                select * from blog where id = #{id}
        </select>
</mapper>